<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Pronunciation Buddy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🎤 Smart Pronunciation Buddy</h1>

        <p class="subtitle">
            Practice English pronunciation using AI-powered speech recognition.
        </p>

        <input
            type="text"
            id="word"
            placeholder="Enter a word (Example: Apple)"
        >

        <br>

        <button onclick="startSpeaking()">
            🎙️ Start Speaking
        </button>

        <div id="result"></div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>